#welcomeindex{
  margin: 0 auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

#title{
  z-index: 1;
   color: white;
   font-size: 9em;
   top: 15%;
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
   font-family: 'Lobster', cursive;
   opacity: .9;
}

.login_wrapper {
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  min-width: 200px;
}


.front{
  width: 100%;
  height: 65%;
  }

li{
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: 'Poiret One', cursive;
}

h2, h3{
  font-family: 'Arima Madurai', cursive;
}

p{
  font-family: 'Nixie One', cursive;
}
