#main {
 background: url('https://hd.unsplash.com/photo-1430799800631-b8de6ce1fad5') no-repeat center center fixed;
 background-size: cover;
 opacity: .6;
}

#WelcomeHeader{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 8em;
  line-height: 400%;
}

iframe{
    width: 100%;
    height: auto;
  }
