<link href='main.css' rel='stylesheet' type='text/css'>
<body id="main">
    <div class="front">
        <div id="title"><h1>Memory</h1></div>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/94837904?autoplay=1&loop=1&color=ffffff&background=1&byline=0&portrait=0" width="1000" height="567" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></frame>
        </div>
    </div>
</body>
