<link rel="stylesheet" type="text/css" href="/main.css">
<br>
<br>
<br>
<h1>Profile</h1>
<% current_user.boards.each do|board|%>
<!-- <table class="table table-hover"> -->
<tr>
  <td>
  <h2><%= link_to board.name, board_path(board) %></h2>
  </td>
</tr>
<!-- </table> -->
<% end %>
