<h1>Profile#profile_home</h1>

<!-- <p> All boards</p>
<p> Create a board</p>
<p> Find a board</p> -->


<a href="/all_board">All board</a>

<a href="/create_board">Create a board</a>

<a href="/find_board">Find a board</a>
